@keyframes hover-anim-enter {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0;
    }

    100% {
        width: 120px;
        height: 120px;
        opacity: 1;
    }
}

@keyframes hover-anim-leave {
    0% {
        width: 120px;
        height: 120px;
        opacity: 1;
    }

    50% {
        width: 140px;
        height: 140px;
        opacity: 1;
    }

    100% {
        width: 40px;
        height: 40px;
        opacity: 0;
    }
}

@keyframes overlay-anim {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.4;
    }

    100% {
        width: 130vw;
        height: 130vw;
        opacity: 1;
    }
}

@keyframes prelouder-anim {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    99% {
        width: 130vw;
        height: 130vw;
        opacity: 0.5;
    }

    100% {
        display: none;
    }
}
