@media (max-width: 1620px) {
    .project {
        padding-top: 120px;
    }

    .project__wrapper {
        margin-top: 20px;
    }

    .project__wrapper,
    .project__arrow-area {
        height: calc(100vh - 190px);
    }
}

@media (max-width: 1460px) {
    .about__img-wrapper {
        max-width: 50vw;
    }
}
