@media (max-width: 1620px) {
    .project {
        padding-top: 150px;
    }

    .project__wrapper {
        margin-top: 10px;
    }

    .project__wrapper {
        height: calc(100vh - 210px);
    }
}

@media (max-width: 1460px) {
    .about__img-wrapper {
        max-width: 50vw;
    }
}

@media (max-width: 1380px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .portfolio__column {
        width: calc(25% - 16px);
    }

    .project {
        padding-top: 130px;
    }

    .project__title {
        font-size: 35px;
        line-height: 40px;
    }

    .project__wrapper {
        height: calc(100vh - 180px);
    }

    .project__item {
        width: calc(50% - 12px);
        margin-bottom: 24px;
    }

    .project__item-img {
        height: 400px;
    }

    .about__wrapper {
        padding-top: 140px;
    }

    .about__title {
        font-size: 48px;
        line-height: 54px;
    }

    .about__text p,
    .about__text {
        font-size: 24px;
        line-height: 32px;
    }

    .about__text p {
        margin-bottom: 0;
        margin-top: 10px;
    }
}

@media (max-width: 1025px) {
    @keyframes overlay-anim {
        0% {
            width: 0px;
            height: 0px;
            opacity: 0.4;
        }

        100% {
            width: 180vw;
            height: 180vw;
            opacity: 1;
        }
    }

    @keyframes prelouder-overlay-anim {
        0% {
            width: 0px;
            height: 0px;
            opacity: 1;
        }

        99% {
            width: 180vw;
            height: 180vw;
            opacity: 0.5;
        }

        100% {
            display: none;
        }
    }

    @keyframes overlay-close-anim {
        0% {
            width: 180vw;
            height: 180vw;
            opacity: 1;
        }

        100% {
            width: 0vw;
            height: 0vw;
            opacity: 0;
        }
    }

    .about__img-wrapper {
        max-width: 65vw;
    }

    .about__bg {
        border-radius: 100% 0 100% 100%;
    }
    .about__img-wrapper-side {
        transform: translateX(-50%);
        left: 0;
        bottom: -40px;
    }
    @keyframes about-bg-anim {
        0% {
            width: 10vw;
            height: 10vw;
        }

        100% {
            transform: translateX(0vw) translateY(-50vw);
            width: 300vh;
            height: 300vh;
        }
    }

    @keyframes about-bg-anim-reverse {
        0% {
            transform: translateX(0vw) translateY(-50vw);
            width: 300vw;
            height: 300vw;
        }

        100% {
            width: 0;
            height: 0;
        }
    }
}

@media (max-width: 991px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .portfolio__column {
        width: calc(25% - 12px);
    }

    .portfolio__item {
        margin-bottom: 7px;
    }

    .project {
        padding-top: 100px;
    }

    .project__title {
        font-size: 30px;
        line-height: 35px;
    }

    .project__wrapper {
        max-height: calc(100vh - 145px);
        height: auto;
    }

    .project__item {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .project__item-img {
        height: 300px;
    }
}

@media (max-width: 800px) {
    .prelouder__wrapper {
        width: 200vh;
        height: 200vh;
        border-radius: 100% 0 100% 100%;
    }

    .project__arrow-area {
        width: 30%;
    }

    @keyframes prelouder-wrapper-anim {
        0% {
            width: 200vh;
            height: 200vh;
            border-radius: 100% 0 100% 100%;
            top: 0;
            right: 0;
        }

        100% {
            top: -100vw;
            right: -100vw;
            width: 0vw;
            height: 0vw;
            border-radius: 100% 0 100% 100%;
        }
    }
}

@media (max-width: 767px) {
    .header__social,
    .header__contact {
        display: none;
    }

    .portfolio {
        padding-top: 90px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .portfolio__container {
        flex-wrap: wrap;
    }

    .portfolio__column {
        width: calc(50% - 10px);
    }

    .footer {
        margin-top: 20px;
    }

    .footer__copy {
        max-width: 130px;
        line-height: 18px;
    }
    .project__item-img {
        height: 400px;
    }

    .project__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .overlay-circle {
        border: 100vh solid #ff3d00;
    }

    @keyframes overlay-anim {
        0% {
            width: 0px;
            height: 0px;
            opacity: 0.4;
        }

        100% {
            width: 130vh;
            height: 130vh;
            opacity: 1;
        }
    }

    @keyframes prelouder-overlay-anim {
        0% {
            width: 0px;
            height: 0px;
            opacity: 1;
        }

        99% {
            width: 130vh;
            height: 130vh;
            opacity: 0.5;
        }

        100% {
            display: none;
        }
    }

    @keyframes overlay-close-anim {
        0% {
            width: 130vh;
            height: 130vh;
            opacity: 1;
        }

        100% {
            width: 0vw;
            height: 0vw;
            opacity: 0;
        }
    }

    .about__text p,
    .about__text {
        font-size: 21px;
        line-height: 24px;
    }

    .about__title {
        font-size: 42px;
        line-height: 48px;
    }
    .footer__logo {
        display: none;
    }

    .footer__wrapper {
        justify-content: flex-start;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .footer__copy {
        max-width: none;
    }

    .footer__to-top {
        padding-bottom: 25px;
    }

    .about__text p {
        margin-top: 25px;
    }

    .about__contact,
    .about__social,
    .about__bottom {
        display: flex;
        align-items: center;
    }

    .about__social span {
        padding-left: 4px;
        padding-right: 4px;
    }

    .about__contact a {
        margin-left: 5px;
        font-weight: bold;
    }

    .about__social a,
    .about__social span {
        font-weight: normal;
    }

    .about__contact a,
    .about__social a,
    .about__social span,
    .about__bottom a {
        color: #fff;
        font-family: Helvetica;
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;
        transition: all 0.9s;
        opacity: 0;
    }

    .about.active .about__contact a,
    .about.active .about__social a,
    .about.active .about__social span,
    .about.active .about__bottom a {
        opacity: 1;
    }

    .about__bottom {
        position: absolute;
        bottom: 20px;
        justify-content: space-between;
        width: calc(100vw - 40px);
        left: 50%;
        transform: translateX(-50%);
    }

    .portfolio__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project__copy {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        display: block;
        text-align: center;
padding-top: 10px;
width: 100%;
        padding-bottom:20px;
    }

.project__arrow-area svg {
    display: block;
width: 50px;
height: 50px;
opacity: 0.7;
position: fixed;
top: calc(50% + 70px);
transform: translateY();
}

.project__arrow-area-left svg {
left: 30px;
}
.project__arrow-area-right svg {
right: 30px;
}


}

@media (max-width: 550px) {
    .project__item-img {
        height: 300px;
    }
}

@media (max-width: 430px) {
    .prelouder__logo svg {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .about__bottom {
        flex-wrap: wrap;
    }

    .about__social {
        width: 50%;
    }

    .about__contact-center {
        width: 50%;
    }

    .about__contact-right {
        width: 100%;
        margin-top: 6px;
    }

    .about__contact-right,
    .about__contact-center {
        justify-content: flex-end;
    }

    .about__contact-center a,
    .about__contact-right a {
        text-align: right;
    }

    .about__text p {
        margin-top: 10px;
    }

    .about__wrapper {
        padding-top: 120px;
    }

    .about__title {
        font-size: 36px;
        line-height: 40px;
    }

    .about__text p,
    .about__text {
        font-size: 18px;
        line-height: 20px;
    }
}
