@media (max-width: 1620px) {
    .project {
        padding-top: 150px;
    }

    .project__wrapper {
        margin-top: 10px;
    }

    .project__wrapper {
        height: calc(100vh - 210px);
    }
}

@media (max-width: 1460px) {
    .about__img-wrapper {
        max-width: 50vw;
    }
}
