@font-face {
    font-family: "NeueHaasUnicaW06";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/neue-haas-unica/neue-haas-unica-ight.ttf"),
        url("../fonts/neue-haas-unica/neue-haas-unica-ight.woff2") format("woff2"),
        url("../fonts/neue-haas-unica/neue-haas-unica-ight.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.prelouder {
    position: absolute;
    overflow: hidden;
}

.prelouder__logo {
    pointer-events: none;
    animation-duration: 1.5s;
    animation-name: prelouder-anim;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.prelouder__logo.active {
    pointer-events: none;
    animation-duration: 0.5s;
    animation-name: prelouder-anim-n;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

body.load-content .prelouder__wrapper {
    animation-duration: 4s;
    animation-delay: 1s;
    animation-name: prelouder-wrapper-anim;
    animation-fill-mode: forwards;
}

body.load-content .header {
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-name: header-prelouder;
}

body.load-content .portfolio__column {
    animation-delay: 1.5s;
    animation-duration: 2s;
}
body.load-content-late .prelouder__wrapper {
    animation-duration: 4s;
    animation-name: prelouder-wrapper-anim;
    animation-fill-mode: forwards;
}

body.load-content-late .header {
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-name: header-prelouder;
}

body.load-content-late .portfolio__column {
    animation-delay: 0.5s;
    animation-duration: 2s;
}

.portfolio__column:nth-child(1) {
    animation-name: column-anim-1;
}
.portfolio__column:nth-child(2) {
    animation-name: column-anim-2;
}
.portfolio__column:nth-child(3) {
    animation-name: column-anim-3;
}
.portfolio__column:nth-child(4) {
    animation-name: column-anim-4;
}

.container {
    max-width: 1860px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 0;
}
.header__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__social span,
.header__social a {
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    transition: all 0.5s;
    text-decoration: none;
}

.header__social,
.header__contact a {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    /* transition: all 0.5s; */
}

.header__contact a {
    transition: all 0.5s;
}

.header__social a,
.header__contact a {
    position: relative;
    padding-left: 2px;
}

.header__social a:before,
.header__contact a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ff3d00;
    width: 0;
    transition: all ease-in 0.3s;
    z-index: -1;
}

.header__social a:hover:before,
.header__contact a:hover:before {
    padding-right: 100%;
}

.header__burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.header__burger-open,
.header__burger-close {
    display: none;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header__burger-open.active,
.header__burger-close.active {
    display: flex;
}

.header__burger-open:before {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% + 10px);
    background: #ff3d00;
    content: "ME";
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__burger-open:hover:before {
    opacity: 1;
}

.portfolio {
    padding-top: 108px;
}

.portfolio__container {
    display: flex;
    justify-content: space-between;
}

.portfolio__column {
    width: calc(25% - 28px);
}

.portfolio__item {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
}
.portfolio__img {
    max-width: 100%;
    width: 100%;
}

.project__item img {
    opacity: 0;
    transition: all 0.7s ease-in;
}

.project__item img.active {
    opacity: 1;
}

.portfolio__tooltipe-text {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    opacity: 0;
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
    z-index: 2;
}

.portfolio__tooltipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    background: #ff3d00;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}

.portfolio__item:hover .portfolio__tooltipe {
    width: 120px;
    height: 120px;
    transform: translateX(-50%) translateY(-50%);
}

.portfolio__item:hover .portfolio__tooltipe-text {
    opacity: 1;
}

.start-overlay-circle {
    width: 0px;
    height: 0px;
    background: #ff3d00;
    pointer-events: none;
    transition: all 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    z-index: 5;
}

.overlay-close,
.overlay-circle {
    pointer-events: none;
    transition: all 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    opacity: 0;
    z-index: 6;
}

.overlay-circle {
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    border: 100vw solid #ff3d00;
}

.start-overlay-circle.hidden,
.overlay-circle.hidden {
    opacity: 0;
}

.start-overlay-circle.active {
    animation-duration: 0.5s;
    animation-name: overlay-anim;
}

.overlay-close {
    width: 0vw;
    height: 0vw;
    background: #ff3d00;
}

.overlay-close.active {
    animation-duration: 0.5s;
    animation-name: overlay-close-anim;
}

.overlay-circle.active {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: prelouder-overlay-anim;
}

body.black .header,
body.black {
    background: #000;
}

body.black .header__social,
body.black .header__contact a {
    color: #fff;
}

body.black .header__logo path {
    fill: #fff;
}

.portfolio.hidden {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    padding-top: 0;
    position: absolute;
}
.project.active {
    display: block;
}

.project__item {
    width: calc(50% - 16px);
    margin-bottom: 32px;
}
.project__item-img {
    width: 100%;
    height: 470px;
    object-fit: cover;
}

.prelouder__wrapper {
    background: #ff3d00;
    width: 200vw;
    height: 200vw;
    position: relative;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.prelouder__logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.5s;
    opacity: 0;
    z-index: 11;
}

.about {
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 4;
    transition: all 0.5s;
}

.about.active {
    pointer-events: all;
}

.about__wrapper {
    padding-top: 190px;
    position: relative;
    z-index: 1;
}

.about__img-wrapper {
    opacity: 0;
    position: absolute;
    bottom: -4px;
    right: 0;
    max-height: calc(100vh - 100px);
    max-width: 60vw;
    top: 100px;
    transition: all 0.9s;
}

.about__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: bottom;
    height: 100%;
}

.about__img-wrapper-side {
    position: absolute;
    bottom: 0;
    width: 33vw;
    height: 33vw;
    left: -20vw;
    bottom: -15vh;
    border-radius: 100%;
    opacity: 0;
    transition: all 1.2s;
}

.body-about .about__text,
.body-about .about__title,
.body-about .about__img-wrapper-side,
.body-about .about__img-wrapper {
    opacity: 1;
}

.about__img-wrapper-side:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 33vw;
    height: 33vw;
    background: rgba(255, 61, 0, 0.42);
    border-radius: 100%;
    transition: all 0.4s;
    opacity: 0;
}

.about__img-wrapper-side.active:before {
    opacity: 1;
}

.about__img-wrapper-side img {
    width: 100%;
    border-radius: 100%;
}

.about__bg {
    background: #000;
    width: 10vw;
    height: 10vw;
    position: fixed;
    top: -10vw;
    right: -10vw;
    z-index: 3;
    border-radius: 100%;
}

.about__bg.active {
    animation-duration: 2s;
    animation-name: about-bg-anim;
    animation-fill-mode: forwards;
}

.about__bg.active-reverse {
    animation-duration: 1s;
    animation-name: about-bg-anim-reverse;
    animation-fill-mode: forwards;
}

.about__text,
.about__title {
    color: #ffffff;
    max-width: 790px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-60px);
    transition: height 0.5s, transform 0.5s, opacity 0.9s;
}

.about__text.active,
.about__title.active {
    transform: translateY(0px);
}

.about__text p,
.about__text {
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    font-family: NeueHaasUnicaW06;
}
.about__title {
    margin: 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 60px;
}

.body-about .header__social,
.body-about .header__contact a {
    color: #fff;
}

.header__logo path {
    transition: all 0.5s;
}

.body-about .header__logo path {
    fill: #fff;
}

.portfolio__container {
    transition: transform 0.9s;
}

.body-about .portfolio__container {
    transform: translateY(30vh);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    align-items: flex-end;
}
.footer__logo {
    cursor: pointer;
}
.footer__to-top {
    padding-bottom: 40px;
    animation: footer-arrow-anim 1.5s infinite ease alternate;
}

.footer__copy {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.project__wrapper {
    position: relative;
    overflow: auto;
}

.project__wrapper::-webkit-scrollbar {
    width: 0;
}

.project {
    padding-top: 170px;
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.project__title {
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
}

.project__wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project__wrapper {
    height: calc(100vh - 235px);
}

.project__title,
.project__item {
    transition: ease-in all 0.3s;
}

.project.project-change .project__title,
.project.project-change .project__item {
    opacity: 0;
}

.project__arrow-area {
    position: absolute;
    z-index: 4;
    bottom: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 20%;
}

.project__arrow-area-left {
    left: 0px;
    cursor: url("../img/cursors/arrow-cursor-left.svg"), pointer;
}

.project__arrow-area-right {
    right: 0px;
    cursor: url("../img/cursors/arrow-cursor-right.svg"), pointer;
}
